@import  url ( 'https://fonts.googleapis.com/css2?family=Oswald&display=swap' );
@import  url ( 'https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap' );
@import  url ( 'https://fonts.googleapis.com/css2?family=Open+Sans&display=swap' );
@import  url ( 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap' );
@import  url ( 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@700&display=swap' );
@import  url ( 'https://fonts.googleapis.com/css2?family=Open+Sans&display=swap' );

# photography {
    семейство шрифтов : Open Sans;
    font-weight :  300 ;
    размер шрифта :  18 пикселей ;
    высота строки :  25 пикселей ;
    межбуквенный интервал :  1,152 пикселей ;
}

# lorem_in_all {
    верхняя маржа :  3 % ;
    семейство шрифтов : Open Sans;
    цвет :  # C2C2C2 ;
    font-weight :  300 ;
    размер шрифта :  13 пикселей ;
    line-height :  23 пикселей ;
    межбуквенный интервал :  0,832 пикселей ;
}

# работает {
    семейство шрифтов : Освальд;
    font-weight :  700 ;
    размер шрифта :  48 пикселей ;
    межбуквенный интервал :  3,072 пикселей ;
    высота линии :  71 точек ;
}

. индикаторы-карусели [ data-bs-target ] {
    font-weight :  700 ;
    высота :  0 пикселей ! важно ;
    цвет : белый;
    семейство шрифтов : Освальд;
    размер шрифта :  15 пикселей ;
    отступ текста :  -70 % ! важно ;
    поля :  5 пикселей  5 пикселей  20 пикселей ;
}

. карусель-индикаторы . active {
    размер шрифта :  30 пикселей ;
    отступ текста :  -95 % ! важно ;
    margin-top :  -15 пикселей ;
    выравнивание текста : центр;
    нижняя граница :  3 пикселя, сплошной RGB ( 112 ,  191 ,  115 );
    высота линии :  0,05 эм ;
    поля :  10 пикселей  5 пикселей  20 пикселей ;
}

. навигационная панель . navbar1 {
    семейство шрифтов : Освальд;
    размер шрифта :  14 пикселей ;
    отступ слева :  52 % ;
    padding-top :  90 пикселей ;
    фон : прозрачный;
    позиция : абсолютная;
    z-индекс :  9 ;
}

. граница-низ . border-custom1 {
    ширина :  10 % ;
    поле слева :  29 пикселей ;
    высота :  2 эм ;
    цвет границы :  4 CAF50 ! важно
}

. граница-низ . border-custom2 {
    ширина :  10 % ;
    левое поле :  44 пикселя ;
    высота :  2 эм ;
    цвет границы :  4 CAF50 ! важно
}

. граница-низ . border-custom3 {
    ширина :  10 % ;
    левое поле :  22 пикселя ;
    высота :  2 эм ;
    цвет границы :  4 CAF50 ! важно
}

. граница-низ . border-custom4 {
    ширина :  10 % ;
    левое поле :  41 пиксель ;
    высота :  2 эм ;
    цвет границы :  4 CAF50 ! важно
}

. carousel-caption {
    верх :  50 % ;
    преобразовать :  translateY ( -22 % );
    семейство шрифтов : Освальд;
    font-weight :  500 ;
}

. h1-h {
    размер шрифта :  72 пикс ;
}

. ps {
    семейство шрифтов : Open Sans ! important ;
    размер шрифта :  20 пикселей ;
    выравнивание текста : центр;
    непрозрачность :  .5 ;
}

# we {
    отступ слева :  15 % ;
    утеплитель :  8 % ;
}

# line_in_we {
    ширина :  5 пикселей ;
    высота :  1,09 эм ;
}

# lorem_1 {
    межбуквенный интервал :  1,26 пикселей ;
    семейство шрифтов : Open Sans;
    размер шрифта :  15 пикселей ;
    высота строки :  25 пикселей ;
    font-weight :  300 ;
    цвет : серый;
    поле слева :  -4 пикс.
}

# green_square {
    фон :  # 4CAF50 ;
    поля :  62 пикселей  443 пикселей ;
    ширина :  309 пикселей ;
    высота :  418 пикселей ;
    z-индекс :  2 ;
    непрозрачность :  0,8 ;
    позиция : относительная
}

# img_2 {
    положение : относительное;
    поля :  -370 пикселей  613 пикселей ;
    ширина :  309 пикселей ;
    высота :  391 пикс ;
}

# second_block {
    z-индекс :  3 ;
    верхняя маржа :  -16 % ;
    маржа слева :  100 %
}

# first_block {
    фоновое изображение :  url ( 'images / Image_1.png' );
    позиция : абсолютная;
    z-индекс :  3 ;
    фон-повтор : без повторения;
    background-position : вверху справа 28 % ;
}

# we_are {
    семейство шрифтов : Освальд;
    font-weight :  700 ;
    межбуквенный интервал :  2,688 пикселей ;
}

# sqwd {
    размер шрифта :  42 пикселей ;
    line-height :  57 пикселей ;
    семейство шрифтов : Open Sans;
    font-weight :  300
}

# page {
    ширина :  95 % ;
    обивка-верх :  1 % ;
    семейство шрифтов : Освальд;
    стиль шрифта : нормальный;
}

. овальный {
    положение : относительное;
    верх :  5 % ;
    справа :  5 % ;
    float : right;
    выравнивание текста : центр;
    граница :  1 ПВ твердых # FFFFFF ;
    радиус границы :  50 % ;
    высота :  25 % ;
    ширина :  13 % ;
    box-shadow :  0 пикселей  0 пикселей  20 пикселей  # DBDBDB ;
}

# block_1 {
    маржа слева :  9,2 % ;
    нижняя граница :  сплошная 2 пикселя # FFFFFF ;
    цвет фона :  # FFFFFF ;
    ширина :  373 пикс ;
}

# block_1 : hover {
    цвет : черный;
    нижняя граница :  2 пикселя сплошная # 70BF73 ! important ;
}

# lorem_ipsum : hover {
    цвет : черный;
}

# block_2 {
    маржа слева :  3 % ;
    нижняя граница :  сплошная 2 пикселя # FFFFFF ;
    цвет фона :  # FFFFFF ;
    ширина :  373 пикс ;
}

# block_2 : hover {
    нижняя граница :  2 пикселя сплошная # 70BF73 ! important ;
    цвет : черный;
}

# block_3 {
    маржа слева :  3 % ;
    нижняя граница :  сплошная 2 пикселя # FFFFFF ;
    цвет фона :  # FFFFFF ;
    ширина :  373 пикс ;
}

# block_3 : hover {
    нижняя граница :  2 пикселя сплошная # 70BF73 ! important ;
    цвет : черный;
}

# label {
    семейство шрифтов : Освальд;
    стиль шрифта : нормальный;
    font-weight :  300 ;
    размер шрифта :  20 пикселей ;
    высота строки :  30 пикселей ;
    межбуквенный интервал :  1,28 пикселей ;
}

# lorem_ipsum {
    семейство шрифтов : Open Sans;
    размер шрифта :  12 пикселей ;
    высота строки :  25 пикселей ;
    межбуквенный интервал :  1,008 пикселей ;
    цвет :  # 777777 ;
}

# link_1 {
    текстовое оформление : нет;
    цвет :  # 777777 ;
    семейство шрифтов : Освальд;
    стиль шрифта : нормальный;
    font-weight :  300 ;
    размер шрифта :  10 пикселей ;
    высота строки :  15 пикселей ;
    межбуквенный интервал :  0,64 пикселей ;
}

# line_in_services {
    нижняя граница :  сплошная 2 пикселя # 252525;
    ширина :  7 % ;
    нижняя маржа :  3 % ;
}

# services {
    цвет фона :  # FBFBFB ;
}

# team {
    цвет фона : # FBFBFB ;
}

. text_and_line {
    утеплитель :  5 % ;
    маржа слева :  8,5 % ;
}

# line {
    нижняя граница :  сплошная 2 пикселя # 252525;
    ширина :  3 % ;
    верхняя маржа :  1 % ;
    нижняя маржа :  3 % ;
}

# line_in_mans {
    нижняя граница :  сплошная 2 пикселя # 252525;
    маржа-право : авто;
    маржа слева : авто;
    ширина :  10 % ;
}

. Ман  ул , . mans  li {
    маржа :  0 ;
    отступ :  0 ;
    тип-стиль-список : нет;
}

. mans  li {
    дисплей : встроенный блок;
    положение : относительное;
    переполнение : скрыто;
    маржа слева :  3 % ;
}

# man_1 {
    маржа слева :  8,5 % ;
}

. mans  img {
    максимальная ширина :  100 % ;
    дисплей : встроенный блок;
    / * нижняя маржа: 10%; * /
}

. descr {
    семейство шрифтов : Open Sans;
    размер шрифта :  12 пикселей ;
    высота строки :  25 пикселей ;
    межбуквенный интервал :  1,008 пикселей ;
    цвет :  # 777777 ;
}

. name {
    позиция : абсолютная;
    выравнивание текста : центр;
    ширина :  100 % ;
    высота :  100 % ;
    нижняя маржа :  10 % ;
    верх :  90 % ;
    цвет фона :  rgba ( 255 ,  255 ,  255 ,  .2 );
    стиль шрифта : нормальный;
    font-weight :  300 ;
    размер шрифта :  18 пикселей ;
    высота строки :  27 пикселей ;
    -webkit-transition : все 0,5 с ;
    -o-переход : все 0,5 с ;
    переход : все 0,5 с ;
}

. mans_name {
    верхняя маржа :  2 % ;
}

. mans  li : наведите указатель мыши . name {
    цвет фона :  rgba ( 255 ,  255 ,  255 ,  .92 );
    верх :  70 % ;
}

# about {
    выравнивание текста : центр;
}

# lorem {
    верхняя маржа :  5 % ;
}

# non_visible {
    непрозрачность :  0,5 ;
}

# final_star {
    непрозрачность :  0,2 ;
}

# next {
    фоновое изображение :  url (/images/next.png) ! important ;
}

# prev {
    фоновое изображение :  URL (/images/prev.png) ! important ;
}

# horizontal_line {
    нижняя маржа :  5 % ;
    верхняя маржа :  2 % ;
    нижняя граница :  2 пикселя сплошная # D8D8D8;
    ширина :  30 % ;
    маржа-право : авто;
    маржа слева : авто;
}

# left {
    цвет фона :  # FBFBFB ;
    выравнивание текста : центр;
    цвет :  # 373737 ;
}

# right {
    цвет фона :  # 70BD59 ;
    выравнивание текста : центр;
    цвет :  # FFFFFF ;
}

# Short {
    верхняя маржа :  10 % ;
}

. down {
    нижняя маржа :  10 % ;
}

# контакт ,  # хочу {
    шрифт : нормальный;
    размер шрифта :  24 пикселей ;
    высота строки :  36 пикселей ;
    межбуквенный интервал :  1,8 пикселей ;
}

# get ,  # amazing {
    высота строки :  16 пикселей ;
    размер шрифта :  14 пикселей ;
    непрозрачность :  0,8 ;
}

# footer {
    цвет фона :  # 2e2e2e ;
    выравнивание текста : центр;
}

# address {
    верхняя маржа :  5 % ;
    цвет : # FFFFFF ;
    непрозрачность :  0,5 ;
}

# email {
    цвет : # FFFFFF ;
    непрозрачность :  0,5 ;
}

. images_in_footer {
    верхняя маржа :  3 % ;
    нижняя маржа :  5 % ;
}

# footer_1 {
    цвет фона : # 252525 ;
    выравнивание текста : центр;
}

# copyright {
    цвет : # FFFFFF ;
    непрозрачность :  0,5 ;
}
